body {
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
}
table {
	margin-left:auto; 
	margin-right:auto;
	width:100%;
	border-collapse:collapse;
	color:#336699;
	text-align: center;
}
td {
	font-size:0.7em;
	padding:3px 7px 2px 7px;
}
th {
	border-bottom:2px solid #336699;
	font-size:0.8em;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
}
.alt td {
	background-color:#EFEFFF;
}
#add-cargo {
	color: #000044;	
}
#add-cargo:hover {
	color: #000099;
}

#container3js {
	width: 600px;
	height: 600px;
	margin: 20px auto;
	border: 1px solid gray;
}

#write {
	height: 100px;
	width: 100%;
	overflow:scroll;
}