extends ../includes/layout

block main-content
	.container
		.header
			nav
				div(ng-include="'/partials/account/navbar-login'")
			h3(class="text-muted") Logtimize
		section.content
			div(ng-view)