.jumbotron
    h1 Logtimize
    p(class="lead") Use containers/trucks efficiently with optimum loading. Optimize the container loading process according to routes, dimensions of boxes/pallettes...etc.